<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>
<target name="eclipse38-platform-sdk" sequenceNumber="22">
	<locations>
		<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.platform.sdk" version="3.8.1.M20120914-1540"/>
			<unit id="org.eclipse.pde.junit.runtime.addon.feature.group" version="1.0.100.v20120528-1716-7C7IEoAkHgAKgMm47GFHJ73701A1"/>
			<repository location="http://download.eclipse.org/eclipse/updates/3.8"/>
		</location>
	</locations>
	<environment>
		<os>linux</os>
		<ws>gtk</ws>
		<arch>x86_64</arch>
	</environment>
</target>
