<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.opentrainingdatabase.db">
      <athleteDao
            classAthleteDao="ch.opentrainingcenter.db.h2.DbSessionFactory">
      </athleteDao>
      <importDao
            classImportedDao="ch.opentrainingcenter.db.h2.ImportedDao">
      </importDao>
   </extension>
</plugin>
