<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch.opentrainingcenter.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.opentrainingcenter.client.perspectives.MainPerspective"
            icon="icons/otc_perspective.png"
            id="ch.opentrainingcenter.client.perspective"
            name="OTC Perspektive">
      </perspective>
      <perspective
            class="ch.opentrainingcenter.client.perspectives.AthletePerspective"
            fixed="true"
            icon="icons/athlete_perspective.png"
            id="ch.opentrainingcenter.client.athletePerspective"
            name="Athlete Perspektive">
      </perspective>
      <perspective
            class="ch.opentrainingcenter.client.perspectives.StatisticPerspective"
            fixed="true"
            icon="icons/chart_bar.png"
            id="ch.opentrainingcenter.client.StatisticPerspective"
            name="Statistik">
      </perspective>
      <perspective
            class="ch.opentrainingcenter.client.perspectives.TablePerspective"
            fixed="true"
            icon="icons/table_green_24_24.png"
            id="ch.opentrainingcenter.client.OverviewPerspective"
            name="Tabellarische Übersicht">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="ch.opentrainingcenter.client.views.navigation.KalenderWocheNavigationView"
            fastViewWidthRatio="0.25"
            icon="icons/package_games_sports_24_24.png"
            id="ch.opentrainingcenter.client.kalenderNavigationView"
            name="Übersicht">
      </view>
      <view
            allowMultiple="true"
            category="ch.opentrainingcenter.client.otccategory"
            class="ch.opentrainingcenter.client.views.overview.SingleActivityViewPart"
            icon="icons/insp_sbook.gif"
            id="ch.opentrainingcenter.client.views.singlerun"
            name="Uebersicht eines Trainings"
            restorable="true">
      </view>
      <category
            id="ch.opentrainingcenter.client.otccategory"
            name="OTC">
      </category>
      <view
            category="ch.opentrainingcenter.client.otccategory"
            class="ch.opentrainingcenter.client.views.ahtlete.CreateAthleteView"
            icon="icons/create.gif"
            id="ch.opentrainingcenter.client.athlete.createathlete"
            name="Create Athlete"
            restorable="true">
      </view>
      <view
            class="ch.opentrainingcenter.client.views.statistics.StatisticView"
            icon="icons/chart_bar.png"
            id="ch.opentrainingcenter.client.views.statistics.StatisticView"
            name="StatisticView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="ch.opentrainingcenter.client.views.table.OverviewViewer"
            icon="icons/table_green_24_24.png"
            id="ch.opentrainingcenter.client.table.overview"
            name="TableView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="ch.opentrainingcenter.client.otccategory"
            class="ch.opentrainingcenter.client.views.weeks.WeeklyOverview"
            id="ch.opentrainingcenter.client.weeks.weeklyOverview"
            name="Wochenübersicht"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="ch.opentrainingcenter.client.views.best.BestRunsView"
            id="ch.opentrainingcenter.client.best.bestof"
            name="Bestzeiten"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="ch.opentrainingcenter.client.otccategory"
            class="ch.opentrainingcenter.client.views.planung.JahresplanungViewPart"
            icon="icons/container_obj.gif"
            id="ch.opentrainingcenter.client.views.planung.JahresplanungViewPart"
            name="Jahresplanung"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="ch.opentrainingcenter.client.otccategory"
            class="ch.opentrainingcenter.client.views.planung.ShowJahresplanungViewPart"
            icon="icons/container_obj.gif"
            id="ch.opentrainingcenter.client.views.planung.ShowJahresplanungViewPart"
            name="ShowJahresplanung"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Öffnet einen einzelnen Lauf"
            id="ch.opentrainingcenter.client.command.openSingleRun"
            name="openSingleRun">
      </command>
      <command
            description="GPS Files importieren"
            id="ch.opentrainingcenter.client.importManualFiles"
            name="importFilesManual">
      </command>
      <command
            description="Die App neu starten"
            id="ch.opentrainingcenter.client.RestartOtc"
            name="Request for Restart">
      </command>
      <command
            description="GPS Files mit einem Wizard importieren"
            id="ch.opentrainingcenter.client.importManualFilesWizard"
            name="importFilesManualWizard">
      </command>
      <command
            description="Editieren oder Hinzufügen einer Notiz zu einem Record"
            id="ch.opentrainingcenter.client.action.AddEditHandler"
            name="AddEditNote">
      </command>
      <command
            description="Öffnet die Athlete Perspective"
            id="ch.opentrainingcenter.client.commands.SwitchToAthlete"
            name="name">
      </command>
      <command
            description="Öffnet die Tabellen Perspective"
            id="ch.opentrainingcenter.client.commands.SwitchToTable"
            name="name">
      </command>
      <command
            description="Öffnet die Statistik Perspective"
            id="ch.opentrainingcenter.client.commands.SwitchToStatistic"
            name="name">
      </command>
      <command
            description="Öffnet die Main Perspective"
            id="ch.opentrainingcenter.client.commands.SwitchToMain"
            name="name">
      </command>
      <command
            description="Macht ein Backup der importierten Gps Files"
            id="ch.opentrainingcenter.client.commands.BackupGpsFiles"
            name="backupGpsFiles">
      </command>
      <command
            description="Importiert ein GPS File"
            id="ch.opentrainingcenter.client.commands.ImportManualGpsFiles"
            name="importManualGpsFiles">
      </command>
      <command
            description="Einen Gesundheits Record hinzufügen"
            id="ch.opentrainingcenter.client.commands.AddDailyHealth"
            name="addDailyHealth">
      </command>
      <command
            description="Intensives Intervall"
            id="ch.opentrainingcenter.client.commands.IntIntervall"
            name="IntIntervall">
      </command>
      <command
            description="Extensives Intervall"
            id="ch.opentrainingcenter.client.commands.ExtIntervall"
            name="ExtIntervall">
      </command>
      <command
            description="Langer Lauf"
            id="ch.opentrainingcenter.client.commands.LongJog"
            name="LongJog">
      </command>
      <command
            description="Power Long Jog"
            id="ch.opentrainingcenter.client.commands.PowerLongJog"
            name="PowerLongJog">
      </command>
      <command
            description="Unbekannter Typ"
            id="ch.opentrainingcenter.client.commands.Unknown"
            name="NONE">
      </command>
      <command
            description="Löscht einen Lauf"
            id="ch.opentrainingcenter.client.commands.DeleteImportedRecord"
            name="LoeschteinenRecord">
      </command>
      <command
            description="Löscht einen Vitalrecord"
            id="ch.opentrainingcenter.client.commands.DeleteHealthRecord"
            name="LoeschteinenVitalRecord">
      </command>
      <command
            description="Trainingsplan"
            id="ch.opentrainingcenter.client.commands.AddTrainingPlan"
            name="AddTrainingPlan">
      </command>
      <command
            description="Alte Trainingsplan"
            id="ch.opentrainingcenter.client.commands.ShowTrainingPlan"
            name="ShowTrainingPlan">
      </command>
   </extension>
   <extension
         id="opentrainingcenter"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.opentrainingcenter.client.application"
            name="Open Training Center">
         <property
               name="windowImages"
               value="icons/16_16/icon_16_16.png,icons/32_32/icon_32_32.png,icons/48_48/icon_48_48.png,icons/64_64/icon_64_64.png,icons/128_128/icon_128_128.png">
         </property>
         <property
               name="appName"
               value="Open Training Center">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="/icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="startupForegroundColor"
               value="FF97A3">
         </property>
         <property
               name="startupMessageRect"
               value="5,235,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
   <extension
         id="prefPage"
         name="kein prefPage Name"
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.opentrainingcenter.client.preferences.SamplePreferencePage"
            id="ch.opentrainingcenter.client.preferences.SamplePreferencePage"
            name="Allgemein">
      </page>
      <page
            class="ch.opentrainingcenter.client.preferences.BackupPreferencePage"
            id="ch.opentrainingcenter.client.preferences.BackupPreferencePage"
            name="Backup">
      </page>
      <page
            class="ch.opentrainingcenter.client.preferences.ImportPreferencePage"
            id="ch.opentrainingcenter.client.preferences.ImportPreferencePage"
            name="Import">
      </page>
      <page
            class="ch.opentrainingcenter.client.preferences.TrainingTargetPreferencePage"
            id="ch.opentrainingcenter.client.preferences.TrainingTargetPage"
            name="Farben">
      </page>
   </extension>
   <extension
         id="prefs"
         name="kein name"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.opentrainingcenter.client.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ch.opentrainingcenter.client.somepopup">
         <command
               commandId="ch.opentrainingcenter.client.action.AddEditHandler"
               label="Add/Edit Note"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     operator="and">
                  <or>
                     <instanceof
                           value="ch.opentrainingcenter.client.model.navigation.impl.ConcreteImported">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <menu
               label="Lauftyp ändern">
            <command
                  commandId="ch.opentrainingcenter.client.commands.IntIntervall"
                  label="Intensives Intervall"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        operator="and">
                     <or>
                        <instanceof
                              value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                        </instanceof>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.ExtIntervall"
                  label="Extensives Intervall"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        operator="and">
                     <or>
                        <instanceof
                              value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                        </instanceof>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.PowerLongJog"
                  label="Power Long Jog"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        operator="and">
                     <or>
                        <instanceof
                              value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                        </instanceof>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.LongJog"
                  label="Langer Lauf"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        operator="and">
                     <or>
                        <instanceof
                              value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                        </instanceof>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.Unknown"
                  label="None"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        operator="and">
                     <or>
                        <instanceof
                              value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                        </instanceof>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
         <command
               commandId="ch.opentrainingcenter.client.commands.DeleteImportedRecord"
               label="Löscht den Record"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     operator="and">
                  <or>
                     <instanceof
                           value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ch.opentrainingcenter.client.commands.DeleteHealthRecord"
               label="Löscht den Record"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     operator="and">
                  <or>
                     <instanceof
                           value="ch.opentrainingcenter.model.navigation.ConcreteHealth">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ch.opentrainingcenter.client.commands.AddTrainingPlan"
               label="Aktueller Trainingsplan"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     operator="and">
                  <or>
                     <instanceof
                           value="java.lang.Integer">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ch.opentrainingcenter.client.commands.ShowTrainingPlan"
               label="Übersicht Trainingsplan"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     operator="and">
                  <or>
                     <instanceof
                           value="java.lang.Integer">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ch.opentrainingcenter.client.commands"
               label="AllgemeineAktionen">
            <command
                  commandId="ch.opentrainingcenter.client.commands.ImportManualGpsFiles"
                  icon="icons/16_16/import_wiz.gif"
                  label="Import GPS Files"
                  style="push"
                  tooltip="Importieren von GPS Files von einer Sportuhr">
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.BackupGpsFiles"
                  icon="icons/16_16/export.gif"
                  label="Backup Gps Files"
                  style="push"
                  tooltip="Packt alle GPS Tracks zusammen und exportiert diese">
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.AddDailyHealth"
                  icon="icons/cardiology.png"
                  label="Täglicher Health Record hinzufügen"
                  style="push">
            </command>
            <separator
                  name="ch.opentrainingcenter.client.separator1"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ch.opentrainingcenter.client.toolbar"
               label="Perspective Toolbars">
            <command
                  commandId="ch.opentrainingcenter.client.commands.SwitchToAthlete"
                  icon="icons/athlete_perspective.png"
                  label="Switch to da Athlete"
                  style="push"
                  tooltip="tooolTip">
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.SwitchToStatistic"
                  icon="icons/chart_bar.png"
                  label="Switcha to da Stats"
                  style="push"
                  tooltip="Statistik">
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.SwitchToTable"
                  icon="icons/table_green_24_24.png"
                  label="Switch to da Table"
                  style="push"
                  tooltip="tooolTip">
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.SwitchToMain"
                  icon="icons/otc_perspective.png"
                  label="Switch to da Main"
                  style="push"
                  tooltip="tooolTip">
            </command>
            <separator
                  name="ch.opentrainingcenter.client.separator1"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
         class="ch.opentrainingcenter.client.splash.OtcSplashHandler"
            id="ch.opentrainingcenter.client.splash">
      </splashHandler>
      <splashHandlerProductBinding
            productId="ch.opentrainingcenter.client.opentrainingcenter"
            splashId="ch.opentrainingcenter.client.splash">
      </splashHandlerProductBinding>
   </extension>
   <extension
         id="Open_TrainingCenter"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.opentrainingcenter.client.application"
            name="OpenTrainingCenter">
         <property
               name="windowImages"
               value="icons/16_16/icon_16_16.png,icons/32_32/icon_32_32.png,icons/48_48/icon_48_48.png,icons/64_64/icon_64_64.png,icons/128_128/icon_128_128.png">
         </property>
         <property
               name="aboutText"
               value="Hello, hello...">
         </property>
         <property
               name="aboutImage"
               value="icons/simpsons-icon.png">
         </property>
         <property
               name="appName"
               value="OpenTrainingCenter">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.opentrainingcenter.client.commands.AddEditHandler"
            commandId="ch.opentrainingcenter.client.action.AddEditHandler">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.SwitchToAthlete"
            commandId="ch.opentrainingcenter.client.commands.SwitchToAthlete"
            helpContextId="switchtotheathlete">
            <enabledWhen>
    <with variable="activeWorkbenchWindow.activePerspective">
            <not>
               <equals
                     value="ch.opentrainingcenter.client.athletePerspective">
               </equals>
            </not>
    </with>
</enabledWhen>
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.SwitchToStatistic"
            commandId="ch.opentrainingcenter.client.commands.SwitchToStatistic">
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <not>
                  <equals
                        value="ch.opentrainingcenter.client.StatisticPerspective">
                  </equals>
               </not>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.SwitchToMain"
            commandId="ch.opentrainingcenter.client.commands.SwitchToMain">
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <not>
                  <equals
                        value="ch.opentrainingcenter.client.perspective">
                  </equals>
               </not>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.SwitchToTable"
            commandId="ch.opentrainingcenter.client.commands.SwitchToTable">
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <not>
                  <equals
                        value="ch.opentrainingcenter.client.OverviewPerspective">
                  </equals>
               </not>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.BackupGpsFiles"
            commandId="ch.opentrainingcenter.client.commands.BackupGpsFiles">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.ImportManualGpsFiles"
            commandId="ch.opentrainingcenter.client.commands.ImportManualGpsFiles">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.AddDailyHealth"
            commandId="ch.opentrainingcenter.client.commands.AddDailyHealth">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.runtype.IntIntervall"
            commandId="ch.opentrainingcenter.client.commands.IntIntervall">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.runtype.ExtIntervall"
            commandId="ch.opentrainingcenter.client.commands.ExtIntervall">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.runtype.PowerLongJog"
            commandId="ch.opentrainingcenter.client.commands.PowerLongJog">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.runtype.LongJog"
            commandId="ch.opentrainingcenter.client.commands.LongJog">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.runtype.UnknownJog"
            commandId="ch.opentrainingcenter.client.commands.Unknown">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.DeleteImportedRecord"
            commandId="ch.opentrainingcenter.client.commands.DeleteImportedRecord">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.DeleteHealthRecord"
            commandId="ch.opentrainingcenter.client.commands.DeleteHealthRecord">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.AddTrainingPlan"
            commandId="ch.opentrainingcenter.client.commands.AddTrainingPlan">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.ShowTrainingPlan"
            commandId="ch.opentrainingcenter.client.commands.ShowTrainingPlan">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="ch.opentrainingcenter.client.kalenderNavigationViewAction"
            targetID="ch.opentrainingcenter.client.kalenderNavigationView">
         <action
               class="ch.opentrainingcenter.client.views.navigation.tree.CollapseAll"
               definitionId="additions"
               icon="icons/16_16/collapseall.gif"
               id="ch.opentrainingcenter.client.action2"
               label="Collapse All"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Alles einklappen">
         </action>
      </viewContribution>
   </extension>
</plugin>
