<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>
   <extension
         id="opentrainingcenter"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.opentrainingcenter.client.application"
            name="Open Training Center">
         <property
               name="windowImages"
               value="icons/16_16/icon_16_16.png,icons/32_32/icon_32_32.png,icons/48_48/icon_48_48.png,icons/64_64/icon_64_64.png,icons/128_128/icon_128_128.png">
         </property>
         <property
               name="appName"
               value="Open Training Center">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/about/about.gif">
         </property>
         <property
               name="aboutText"
               value="Ein noch zu definierender Text...............................">
         </property>
         <property
               name="startupForegroundColor"
               value="FF97A3">
         </property>
         <property
               name="startupMessageRect"
               value="5,235,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="introTitle"
               value="Open Training Center">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/chart_bar.png">
         </property>
         <property
               name="introDescription-overview"
               value="%intro_desc_overview">
         </property>
         <property
               name="introDescription-firststeps"
               value="%intro_desc_firststeps">
         </property>
         <property
               name="introDescription-webresources"
               value="%intro_desc_webresources">
         </property>
      </product>
   </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch.opentrainingcenter.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.opentrainingcenter.client.perspectives.MainPerspective"
            icon="icons/otc_perspective.png"
            id="ch.opentrainingcenter.client.perspective"
            name="%otc">
      </perspective>
      <perspective
            class="ch.opentrainingcenter.client.perspectives.EinstellungenPerspective"
            fixed="true"
            icon="icons/32_32/einstellungen.png"
            id="ch.opentrainingcenter.client.einstellungen"
            name="%einstellungen">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="ch.opentrainingcenter.client.views.navigation.KalenderWocheNavigationView"
            fastViewWidthRatio="0.25"
            icon="icons/16_16/home_16_16.png"
            id="ch.opentrainingcenter.client.kalenderNavigationView"
            name="%kalenderwochen">
      </view>
      <view
            allowMultiple="true"
            category="ch.opentrainingcenter.client.otccategory"
            class="ch.opentrainingcenter.client.views.overview.SingleActivityViewPart"
            id="ch.opentrainingcenter.client.views.singlerun"
            name="%trainingsuebersicht"
            restorable="true">
      </view>
      <category
            id="ch.opentrainingcenter.client.otccategory"
            name="OTC">
      </category>
      <view
            allowMultiple="false"
            class="ch.opentrainingcenter.client.views.ngchart.DynamicChartViewPart"
            icon="icons/16_16/charts.png"
            id="ch.opentrainingcenter.client.views.ngchart.DynamicChart"
            name="%auswertungen"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="ch.opentrainingcenter.client.otccategory"
            class="ch.opentrainingcenter.client.views.weeks.MonthlyWeekOverview"
            id="ch.opentrainingcenter.client.weeks.monthlyOverview"
            name="%monatsuebersicht"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="ch.opentrainingcenter.client.views.best.BestRunsView"
            icon="icons/16_16/medal_gold_1.png"
            id="ch.opentrainingcenter.client.best.bestof"
            name="%bestzeiten"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="ch.opentrainingcenter.client.otccategory"
            class="ch.opentrainingcenter.client.views.planung.JahresplanungViewPart"
            icon="icons/16_16/plaene_erfassen.gif"
            id="ch.opentrainingcenter.client.views.planung.JahresplanungViewPart"
            name="%planung"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="ch.opentrainingcenter.client.otccategory"
            class="ch.opentrainingcenter.client.views.planung.ShowJahresplanungViewPart"
            icon="icons/16_16/plaeneuebersicht.gif"
            id="ch.opentrainingcenter.client.views.planung.ShowJahresplanungViewPart"
            name="%aktuelleplanung"
            restorable="true">
      </view>
      <view
            category="ch.opentrainingcenter.client.otccategory"
            class="ch.opentrainingcenter.client.views.einstellungen.UserView"
            icon="icons/16_16/userin_16_16.png"
            id="ch.opentrainingcenter.client.views.einstellungen.user"
            name="%userverwaltung"
            restorable="true">
      </view>
      <view
            category="ch.opentrainingcenter.client.otccategory"
            class="ch.opentrainingcenter.client.views.routen.RoutenView"
            icon="icons/16_16/map_16_16.png"
            id="ch.opentrainingcenter.client.views.einstellungen.routen"
            name="%routenverwaltung"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="ch.opentrainingcenter.client.views.chart.ChartViewPart"
            icon="icons/16_16/charts.png"
            id="ch.opentrainingcenter.client.views.chart"
            name="%chart"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="ch.opentrainingcenter.client.otccategory"
            class="ch.opentrainingcenter.client.views.shoes.ShoeViewPart"
            icon="icons/16_16/shoe_16_16.png"
            id="ch.opentrainingcenter.client.views.shoes.ShoeViewPart"
            name="%shoes_view"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%opensinglerun"
            id="ch.opentrainingcenter.client.command.openSingleRun"
            name="openSingleRun">
      </command>
      <command
            description="GPS Files importieren"
            id="ch.opentrainingcenter.client.importManualFiles"
            name="importFilesManual">
      </command>
      <command
            description="Die App neu starten"
            id="ch.opentrainingcenter.client.RestartOtc"
            name="Request for Restart">
      </command>
      <command
            description="GPS Files mit einem Wizard importieren"
            id="ch.opentrainingcenter.client.importManualFilesWizard"
            name="importFilesManualWizard">
      </command>
      <command
            description="Editieren oder Hinzufügen einer Notiz zu einem Record"
            id="ch.opentrainingcenter.client.action.AddEditHandler"
            name="AddEditNote">
      </command>
      <command
            description="Öffnet die Athlete Perspective"
            id="ch.opentrainingcenter.client.commands.SwitchToAthlete"
            name="%switch_to_athlete">
      </command>
      <command
            description="Öffnet die Main Perspective"
            id="ch.opentrainingcenter.client.commands.SwitchToMain"
            name="%switch_to_main">
      </command>
      <command
            description="Macht ein Backup der importierten Gps Files"
            id="ch.opentrainingcenter.client.commands.BackupGpsFiles"
            name="%backup_files">
      </command>
      <command
            description="Importiert ein GPS File"
            id="ch.opentrainingcenter.client.commands.ImportManualGpsFiles"
            name="importManualGpsFiles">
      </command>
      <command
            description="Einen Gesundheits Record hinzufügen"
            id="ch.opentrainingcenter.client.commands.AddDailyHealth"
            name="addDailyHealth">
      </command>
      <command
            description="Intensives Intervall"
            id="ch.opentrainingcenter.client.commands.IntIntervall"
            name="IntIntervall">
      </command>
      <command
            description="Extensives Intervall"
            id="ch.opentrainingcenter.client.commands.ExtIntervall"
            name="ExtIntervall">
      </command>
      <command
            description="Langer Lauf"
            id="ch.opentrainingcenter.client.commands.LongJog"
            name="LongJog">
      </command>
      <command
            description="Power Long Jog"
            id="ch.opentrainingcenter.client.commands.PowerLongJog"
            name="PowerLongJog">
      </command>
      <command
            description="Unbekannter Typ"
            id="ch.opentrainingcenter.client.commands.Unknown"
            name="NONE">
      </command>
      <command
            description="Löscht einen Lauf"
            id="ch.opentrainingcenter.client.commands.DeleteImportedRecord"
            name="LoeschteinenRecord">
      </command>
      <command
            description="Löscht einen Vitalrecord"
            id="ch.opentrainingcenter.client.commands.DeleteHealthRecord"
            name="LoeschteinenVitalRecord">
      </command>
      <command
            description="Trainingsplan"
            id="ch.opentrainingcenter.client.commands.AddTrainingPlan"
            name="AddTrainingPlan">
      </command>
      <command
            description="Alte Trainingsplan"
            id="ch.opentrainingcenter.client.commands.ShowTrainingPlan"
            name="ShowTrainingPlan">
      </command>
      <command
            description="Alle Schuhe zeigen"
            id="ch.opentrainingcenter.client.commands.ShowShoes"
            name="ShowShoes">
      </command>
      <command
            description="neue Route hinzufügen"
            id="ch.opentrainingcenter.client.commands.AddRoute"
            name="neue Route hinzufügen">
      </command>
      <command
            description="%vergleicht2laeufe_desc"
            id="ch.opentrainingcenter.client.commands.CompareRecords"
            name="%vergleicht2laeufe">
      </command>
      <command
            description="%herz_scatter_desc"
            id="ch.opentrainingcenter.client.commands.HeartScatter"
            name="%herz_scatter">
      </command>
      <command
            description="%heapdump_desc"
            id="ch.opentrainingcenter.client.commands.CreateHeapDump"
            name="%heapdump">
      </command>
      <command
            description="%dynamic_chart_desc"
            id="ch.opentrainingcenter.client.commands.DynamicChart"
            name="%dynamic_chart">
      </command>
      <command
            description="%search"
            id="ch.opentrainingcenter.client.commands.search"
            name="%search">
      </command>
      <command
            description="%show_tracks_command_description"
            id="ch.opentrainingcenter.client.commands.ShowTracks"
            name="%show_tracks_command_name">
      </command>
   </extension>
   <extension
         id="prefPage"
         name="kein prefPage Name"
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.opentrainingcenter.client.preferences.AllgemeinePreferencePage"
            id="ch.opentrainingcenter.client.preferences.allgemein"
            name="%preferences_allgemein">
      </page>
      <page
            class="ch.opentrainingcenter.client.preferences.BackupPreferencePage"
            id="ch.opentrainingcenter.client.preferences.BackupPreferencePage"
            name="%preferences_backup">
      </page>
      <page
            class="ch.opentrainingcenter.client.preferences.ImportPreferencePage"
            id="ch.opentrainingcenter.client.preferences.ImportPreferencePage"
            name="%preferences_import">
      </page>
      <page
            class="ch.opentrainingcenter.client.preferences.ChartPreferencePage"
            id="ch.opentrainingcenter.client.preferences.charts"
            name="%preferences_charts">
      </page>
      <page
            category="ch.opentrainingcenter.client.preferences.charts"
            class="ch.opentrainingcenter.client.preferences.ChartColorPreferencePage"
            id="ch.opentrainingcenter.client.preferences.chartsColor"
            name="%preferences_charts_colors">
      </page>
      <page
            category="ch.opentrainingcenter.client.preferences.charts"
            class="ch.opentrainingcenter.client.preferences.TrainingTargetPreferencePage"
            id="ch.opentrainingcenter.client.preferences.TrainingTargetPage"
            name="%preferences_farben">
      </page>
      <page
            class="ch.opentrainingcenter.client.preferences.DatabasePreferencePage"
            id="ch.opentrainingcenter.client.preferences.TrainingTargetPage"
            name="%preferences_datenbank">
      </page>
      <page
            category="ch.opentrainingcenter.client.preferences.allgemein"
            class="ch.opentrainingcenter.client.preferences.AllgemeineFarbenPreferencePage"
            id="ch.opentrainingcenter.client.preferences.allgemeinFarben"
            name="%preferences_farben_allgemein">
      </page>
   </extension>
   <extension
         id="prefs"
         name="kein name"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.opentrainingcenter.client.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ch.opentrainingcenter.client.somepopup">
         <menu
               label="Lauftyp ändern">
            <command
                  commandId="ch.opentrainingcenter.client.commands.IntIntervall"
                  label="Intensives Intervall"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        operator="and">
                     <or>
                        <instanceof
                              value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                        </instanceof>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.ExtIntervall"
                  label="Extensives Intervall"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        operator="and">
                     <or>
                        <instanceof
                              value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                        </instanceof>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.PowerLongJog"
                  label="Power Long Jog"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        operator="and">
                     <or>
                        <instanceof
                              value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                        </instanceof>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.LongJog"
                  label="Langer Lauf"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        operator="and">
                     <or>
                        <instanceof
                              value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                        </instanceof>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.Unknown"
                  label="None"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        operator="and">
                     <or>
                        <instanceof
                              value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                        </instanceof>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
         <command
               commandId="ch.opentrainingcenter.client.commands.DeleteImportedRecord"
               label="Löscht den Record"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     operator="and">
                  <or>
                     <instanceof
                           value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ch.opentrainingcenter.client.commands.DeleteHealthRecord"
               label="Löscht den Record"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     operator="and">
                  <or>
                     <instanceof
                           value="ch.opentrainingcenter.model.navigation.ConcreteHealth">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ch.opentrainingcenter.client.commands.CompareRecords"
               label="%vergleicht2laeufe"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     operator="and">
                  <or>
                     <instanceof
                           value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ch.opentrainingcenter.client.commands.AddRoute"
               icon="icons/16_16/map_16_16.png"
               label="%referenzstrecke"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     operator="and">
                  <or>
                     <instanceof
                           value="ch.opentrainingcenter.model.navigation.ConcreteImported">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <menu
               icon="icons/16_16/charts.png"
               label="%menu_chart">
            <command
                  commandId="ch.opentrainingcenter.client.commands.HeartScatter"
                  icon="icons/16_16/scatter-icon.png"
                  label="%herz_scatter"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ch.opentrainingcenter.client.commands"
               label="AllgemeineAktionen">
            <command
                  commandId="ch.opentrainingcenter.client.commands.ImportManualGpsFiles"
                  icon="icons/16_16/import_wiz.gif"
                  label="%import"
                  style="push"
                  tooltip="%import_tooltip">
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.BackupGpsFiles"
                  icon="icons/16_16/export.gif"
                  label="%backup"
                  style="push"
                  tooltip="%backup_tooltip">
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.AddDailyHealth"
                  icon="icons/16_16/cardiology.png"
                  label="%health"
                  style="push"
                  tooltip="%health_tooltip">
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.search"
                  icon="icons/16_16/search_16_16.png"
                  label="%search"
                  style="push"
                  tooltip="%search_tooltip">
            </command>
            <separator
                  name="ch.opentrainingcenter.client.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="ch.opentrainingcenter.client.commands.AddTrainingPlan"
                  icon="icons/16_16/plaene_erfassen.gif"
                  label="%trainingsplaene"
                  style="push"
                  tooltip="Trainingspläne verwalten">
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.ShowTrainingPlan"
                  icon="icons/16_16/plaeneuebersicht.gif"
                  label="%trainingsplaene_uebersicht"
                  style="push"
                  tooltip="%trainingsplaene_uebersicht_tooltip">
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.ShowTracks"
                  icon="icons/16_16/map_16_16.png"
                  label="%strecken_uebersicht"
                  style="push"
                  tooltip="%strecken_tooltip">
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.ShowShoes"
                  icon="icons/16_16/shoe_16_16.png"
                  label="%schuhe_uebersicht"
                  style="push"
                  tooltip="%schuhe_uebersicht_tooltip">
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.DynamicChart"
                  icon="icons/16_16/charts.png"
                  label="%dynamic_chart_label"
                  style="push"
                  tooltip="%dynamic_chart_tooltip">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ch.opentrainingcenter.client.toolbar"
               label="Perspective Toolbars">
            <command
                  commandId="ch.opentrainingcenter.client.commands.SwitchToMain"
                  icon="icons/16_16/home_16_16.png"
                  label="%home"
                  style="push"
                  tooltip="%home">
            </command>
            <command
                  commandId="ch.opentrainingcenter.client.commands.SwitchToAthlete"
                  icon="icons/16_16/einstellungen.png"
                  label="%einstellungen"
                  style="push"
                  tooltip="%einstellungen">
            </command>
            <separator
                  name="ch.opentrainingcenter.client.separator1"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
         class="ch.opentrainingcenter.client.splash.OtcSplashHandler"
            id="ch.opentrainingcenter.client.splash">
      </splashHandler>
      <splashHandlerProductBinding
            productId="ch.opentrainingcenter.client.opentrainingcenter"
            splashId="ch.opentrainingcenter.client.splash">
      </splashHandlerProductBinding>
   </extension>
   <!--
   <extension
         id="Open_TrainingCenter"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.opentrainingcenter.client.application"
            name="OpenTrainingCenter">
         <property
               name="windowImages"
               value="icons/16_16/icon_16_16.png,icons/32_32/icon_32_32.png,icons/48_48/icon_48_48.png,icons/64_64/icon_64_64.png,icons/128_128/icon_128_128.png">
         </property>
         <property
               name="aboutText"
               value="Hello, hello...">
         </property>
         <property
               name="aboutImage"
               value="icons/simpsons-icon.png">
         </property>
         <property
               name="appName"
               value="OpenTrainingCenter">
         </property>
      </product>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.opentrainingcenter.client.commands.SwitchToAthlete"
            commandId="ch.opentrainingcenter.client.commands.SwitchToAthlete"
            helpContextId="switchtotheathlete">
            <enabledWhen>
    <with variable="activeWorkbenchWindow.activePerspective">
            <not>
               <equals
                     value="ch.opentrainingcenter.client.athletePerspective">
               </equals>
            </not>
    </with>
</enabledWhen>
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.SwitchToMain"
            commandId="ch.opentrainingcenter.client.commands.SwitchToMain">
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <not>
                  <equals
                        value="ch.opentrainingcenter.client.perspective">
                  </equals>
               </not>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.BackupGpsFiles"
            commandId="ch.opentrainingcenter.client.commands.BackupGpsFiles">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.ImportManualGpsFiles"
            commandId="ch.opentrainingcenter.client.commands.ImportManualGpsFiles">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.AddDailyHealth"
            commandId="ch.opentrainingcenter.client.commands.AddDailyHealth">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.runtype.IntIntervall"
            commandId="ch.opentrainingcenter.client.commands.IntIntervall">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.runtype.ExtIntervall"
            commandId="ch.opentrainingcenter.client.commands.ExtIntervall">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.runtype.PowerLongJog"
            commandId="ch.opentrainingcenter.client.commands.PowerLongJog">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.runtype.LongJog"
            commandId="ch.opentrainingcenter.client.commands.LongJog">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.runtype.UnknownJog"
            commandId="ch.opentrainingcenter.client.commands.Unknown">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.DeleteImportedRecord"
            commandId="ch.opentrainingcenter.client.commands.DeleteImportedRecord">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.DeleteHealthRecord"
            commandId="ch.opentrainingcenter.client.commands.DeleteHealthRecord">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.AddTrainingPlan"
            commandId="ch.opentrainingcenter.client.commands.AddTrainingPlan">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.ShowTrainingPlan"
            commandId="ch.opentrainingcenter.client.commands.ShowTrainingPlan">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.ShowTracks"
            commandId="ch.opentrainingcenter.client.commands.ShowTracks">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.ShowShoes"
            commandId="ch.opentrainingcenter.client.commands.ShowShoes">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.AddRoute"
            commandId="ch.opentrainingcenter.client.commands.AddRoute">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.CompareRecords"
            commandId="ch.opentrainingcenter.client.commands.CompareRecords">
         <enabledWhen>
            <count
                  value="2">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.CreateHeapDump"
            commandId="ch.opentrainingcenter.client.commands.CreateHeapDump">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.HeartScatterHandler"
            commandId="ch.opentrainingcenter.client.commands.HeartScatter">
         <enabledWhen>
            <test
                  property="ch.opentrainingcenter.client.selection.navigationSelection">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.ShowDynamicChart"
            commandId="ch.opentrainingcenter.client.commands.DynamicChart">
      </handler>
      <handler
            class="ch.opentrainingcenter.client.commands.SearchCommand"
            commandId="ch.opentrainingcenter.client.commands.search">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="ch.opentrainingcenter.client.kalenderNavigationViewAction"
            targetID="ch.opentrainingcenter.client.kalenderNavigationView">
         <action
               class="ch.opentrainingcenter.client.views.navigation.tree.CollapseAll"
               icon="icons/16_16/collapseall.gif"
               id="ch.opentrainingcenter.client.action2"
               label="%collapseall"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%collapseall">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ch.opentrainingcenter.client.commands.CreateHeapDump"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
      <scheme
            id="myscheme"
            name="myscheme">
      </scheme>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ch.opentrainingcenter.client.property.SelectionPropertyTester"
            id="ch.opentrainingcenter.client.selection"
            namespace="ch.opentrainingcenter.client.selection"
            properties="navigationSelection"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
