<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ch.iseli.sportanalyzer.myimporter" name="myimporter" schema="schema/ch.iseli.sportanalyzer.myimporter.exsd"/>
   <extension-point id="ch.opentrainingdatabase.db" name="dbaccess" schema="schema/ch.opentrainingdatabase.dbaccess.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch.iseli.sportanalyzer.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.iseli.sportanalyzer.client.Perspective"
            icon="icons/otc_perspective.png"
            id="ch.iseli.sportanalyzer.client.perspective"
            name="OTC Perspektive">
      </perspective>
      <perspective
            class="ch.iseli.sportanalyzer.client.views.ahtlete.AthletePerspective"
            icon="icons/athlete_perspective.png"
            id="ch.iseli.sportanalyzer.client.athletePerspective"
            name="Athlete Perspektive">
      </perspective>
      <perspective
            class="ch.iseli.sportanalyzer.client.StatisticPerspectiveFactory"
            icon="icons/chart_bar.png"
            id="ch.iseli.sportanalyzer.client.StatisticPerspective"
            name="Statistik">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/1321200870_Compass.png"
            class="ch.iseli.sportanalyzer.client.views.navigation.NavigationView"
            id="ch.iseli.sportanalyzer.client.navigationView">
      </view>
      <view
            allowMultiple="true"
            category="ch.iseli.sportanalyzer.client.otccategory"
            class="ch.iseli.sportanalyzer.client.views.overview.SingleActivityViewPart"
            icon="icons/overview_chart.png"
            id="ch.iseli.sportanalyzer.client.views.singlerun"
            name="Uebersicht eines Trainings">
      </view>
      <view
            allowMultiple="true"
            category="ch.iseli.sportanalyzer.client.otccategory"
            class="ch.iseli.sportanalyzer.client.views.cardio.CardioView"
            icon="icons/cardiology.png"
            id="ch.iseli.sportanalyzer.client.views.cardio"
            name="Herzfrequenz des Laufs"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="ch.iseli.sportanalyzer.client.otccategory"
            class="ch.iseli.sportanalyzer.client.views.speed.SpeedView"
            icon="icons/speed_kmh.png"
            id="ch.iseli.sportanalyzer.client.views.speed"
            name="Geschwindigkeit des Laufs"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="ch.iseli.sportanalyzer.client.otccategory"
            class="ch.iseli.sportanalyzer.client.views.sealevel.SealevelView"
            id="ch.iseli.sportanalyzer.client.views.sealevel"
            name="Hoehenverlauf des Runs"
            restorable="true">
      </view>
      <category
            id="ch.iseli.sportanalyzer.client.otccategory"
            name="OTC">
      </category>
      <category
            id="ch.iseli.sportanalyzer.client.athletecategory"
            name="Athlete">
      </category>
      <view
            category="ch.iseli.sportanalyzer.client.athletecategory"
            class="ch.iseli.sportanalyzer.client.athlete.AthleteView"
            icon="icons/package_games_sports.png"
            id="ch.iseli.sportanalyzer.client.athlete.athleteview"
            name="Athlete"
            restorable="true">
      </view>
      <view
            category="ch.iseli.sportanalyzer.client.athletecategory"
            class="ch.iseli.sportanalyzer.client.views.ahtlete.CreateAthleteView"
            icon="icons/create.gif"
            id="ch.iseli.sportanalyzer.client.athlete.createathlete"
            name="Create Athlete"
            restorable="true">
      </view>
      <view
            class="ch.iseli.sportanalyzer.client.athlete.SelectAthleteViewPart"
            id="ch.iseli.sportanalyzer.client.athlete.selectAthlete"
            name="Athlete selektieren"
            restorable="true">
      </view>
      <view
            category="ch.iseli.sportanalyzer.client.otccategory"
            class="ch.iseli.sportanalyzer.client.athlete.AthleteOverview"
            icon="icons/package_games_sports.png"
            id="ch.iseli.sportanalyzer.client.athlete.athleteOverview"
            name="Kurzübersicht Athlete"
            restorable="true">
      </view>
      <view
            class="ch.iseli.sportanalyzer.client.views.statistics.StatisticView"
            icon="icons/chart_bar.png"
            id="ch.iseli.sportanalyzer.client.views.statistics.StatisticView"
            name="StatisticView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="ch.iseli.sportanalyzer.client.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="ch.iseli.sportanalyzer.client.category"
            id="ch.iseli.sportanalyzer.client.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="ch.iseli.sportanalyzer.client.category"
            id="ch.iseli.sportanalyzer.client.openMessage">
      </command>
      <command
            categoryId="ch.iseli.sportanalyzer.client.category"
            description="Öffnet einen einzelnen Lauf"
            id="ch.iseli.sportanalyzer.client.command.openSingleRun"
            name="openSingleRun">
      </command>
      <command
            description="GPS Files importieren"
            id="ch.iseli.sportanalyzer.client.importManualFiles"
            name="importFilesManual">
      </command>
   </extension>
   <extension
         id="opentrainingcenter"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.iseli.sportanalyzer.client.application"
            name="Open Training Center">
         <property
               name="windowImages"
               value="icons/athlete_perspective.png,icons/athlete_perspective.png,icons/athlete_perspective.png,icons/athlete_perspective.png,icons/athlete_perspective.png">
         </property>
         <property
               name="aboutImage"
               value="icons/mutthorn.gif">
         </property>
         <property
               name="appName"
               value="Open Training Center">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="prefPage"
         name="kein prefPage Name"
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.iseli.sportanalyzer.client.preferences.SamplePreferencePage"
            id="ch.iseli.sportanalyzer.client.preferences.SamplePreferencePage"
            name="Einstellungen">
      </page>
   </extension>
   <extension
         id="prefs"
         name="kein name"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.iseli.sportanalyzer.client.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="ch.iseli.sportanalyzer.client.viewContribution1"
            targetID="ch.iseli.sportanalyzer.client.viewContribution1">
         <action
               class="ch.iseli.sportanalyzer.client.action.DeleteImportedRecord"
               id="ch.iseli.sportanalyzer.client.action1"
               label="ch.iseli.sportanalyzer.client.action.DeleteImportedRecord"
               style="push"
               tooltip="blabla">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="ch.iseli.sportanalyzer.client.menuContribution2">
         <menu
               label="label">
         </menu>
      </menuContribution>
   </extension>

</plugin>
